name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  labels:
    name: Labels
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Labeler
        uses: actions/labeler@v5
        with:
          dot: true

  test:
    runs-on: ubuntu-latest
    name: Test

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: pnpm

      - name: Test
        run: pnpm test
